html, body { 
  font-family: 'Merriweather', serif !important;
}

.pnlm-title-box {
  font-family: 'Merriweather', serif !important;
}

#viewDiv {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#logo {
vertical-align:middle;
}

/*Navbar height*/
.navbar {
  height: 56.5px;  
}

.navbar-brand span {
font-size: 1.1em;
display:inline-block;
vertical-align:middle;
}

/*Navbar background color*/
.bg-light {
  background: #D49b72 !important;
  border-bottom: solid 2px #D49B72;
} 

/*Navbar link color*/
.navbar-light .navbar-brand {
  color: #50433d;
  /* font-variant: small-caps; */
}

/*Navbar link color*/
.navbar-light .navbar-brand:visited {
color: #50433d;
}

.navbar .navbar-nav .nav-link {
  color: #50433d;
  font-size: 0.8125em;
}
.navbar .navbar-nav .nav-link:hover{
  color: #50433d;
  /* border-bottom: solid 3px #50433d;  */
  border-bottom: solid 3px #A23617; 
}

/* .navbar-nav {
margin-left:auto;
} */

#viewerModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

.esri-widget {
font-family: 'Merriweather', serif;
}

/*Infobox*/
.infolink {
  color: #A23617;
}

#infoModal img {
  border: solid 1px black;
}

/*Information Modal*/ 
#infoModal .modal-dialog{
  overflow-y: initial !important
}

#infoModal .modal-body{
  height: 80vh;
  overflow-y: auto;
}

#infoModal .modal-title{
  font-weight: normal !important;
  font-family: 'Merriweather', serif;
  font-size: 1.5em
}

#infoModal {
  border-radius: 0px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
}

#infoModal p {
  font-size: 0.85em;
  font-family: 'Merriweather', serif
}

#infoModal ul {
  font-size: 0.85em;
  font-family: 'Merriweather', serif
}

/*ESRI Popup CSS*/
body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 296px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    padding-bottom: 55px;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions .esri-popup__inline-actions-container {
    margin: 15px;
    margin-top: 0;
    width: 100%;
    margin-bottom: 8px;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions .esri-popup__button.esri-popup__action {
    height: 35px;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.71429em;
    text-transform: uppercase;
    color: #0a0a0a;
    background: none;
    border: solid 1px #0c0c0c;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 35px;
    margin-top: 10px;
}

#viewDiv .esri-popup__inline-actions-container:only-child > .esri-popup__action {
  max-width: none;
}

.esri-popup__inline-actions-container>.esri-popup__action, .esri-popup__inline-actions-container>.esri-popup__action-toggle {
  flex: 0 1 auto;
}

.esri-popup__footer .esri-popup__button {
    font-weight: 500;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}

body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container .esri-popup__footer.esri-popup__footer--has-actions {
    bottom: 0;
    top: auto;
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.esri-popup__header-title {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  body:not(.esriIsPhoneSize) #viewDiv .esri-popup.esri-popup--is-docked .esri-popup__main-container {
    width: 100%;       
  }

  .container {
    position: absolute;
    width: 90%;
    top: 15px;
    left: 45px;    
  }  
}
